# Swaps the values of two variable

In [ ]:
num1=10
num2=20
print("Before swaping")
print(f"number1={num1}",f"number2={num2}")

temp=num1
num1=num2
num2=temp
print("After swaping")
print(f"number1={num1}",f"number2={num2}")

#  Area of Rectangle

In [ ]:
length,width=int(input("Enter length=")),int(input("Enter width="))
print("Area of Rectangle=",length*width)

# Convert temparatue F to C

In [ ]:
F=float(input("Enter farenheit value"))
C= ((F-32.0)/9)*5
print(f"Celcious={C}")

# Volume of sphere

In [ ]:
import math
radious=float(input("Enter radious"))
Volume=(4/3)*(math.pi)*pow(radious,3)
print(f"Volume of sphera={Volume}")

# Average 3 numbers

In [ ]:
n1=10
n2=12
n3=7
print((n1+n2+n3)/3)

# Even or odd

In [ ]:
num=int(input("Enter a number:"))
if num%2==0:
    print(f"{num} is Even ")
else:
    print(f"{num} is odd")

# Maximum of three numbers

In [ ]:
num1,num2,num3=int(input("Enter number1:")),int(input("Enter number2:")),int(input("Enter number3:"))
if num1>num2 & num1>num3:
    print(f"{num1} is maximum among {num1}, {num2},{num3}")
elif num2>num1 & num2>num3:
    print(f"{num2} is maximum among {num1},{num2},{num3}")
else:
    print(f"{num3} is maximum among {num1},{num2},{num3}")

# Leapyear

In [ ]:
year=int(input("Enter year"))
if year%4==0:
    print(f"{year} is leap year")
else:
    print(f"{year} is not leap year")

# positive ,negative ,zero

In [ ]:
num=int(input("Enter a number"))
if num>0:
    print(f"{num} is positive")
elif num==0:
    print(f"{num} is Zero")
else:
    print(f"{num} is negative")

# Grade based on given percentage

In [ ]:
n = float(input('Enter the percentage of the student: '))

if(n > 90):
    print("Grade A")
elif(n > 80):
    print("Grade B")
elif(n > 70):
    print("Grade C")
elif(n >= 60):
    print("Grade D")
else:
    print("Grade E")

# Print 'n' natural numbers

In [ ]:
n=int(input("Enter value of n:"))
for i in range(1,n+1):
    print(i)

# Factorial

In [ ]:
n=int(input("Enter which number you want to factorial="))
fac=1
for i in range(1,n+1):
    fac=fac*i
print(f"facortial of {n} ={fac}")

In [ ]:
n=int(input("Enter value of N="))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

# Prime number

In [1]:
n=int(input("Enter n="))

if n>1:
    for i in range(2,(n//2)+1):
        if n%i==0:
            print(f"{n} is not a prime number")
            break;
        else:
            print(f"{n} is  prime number")
else:
    print(f"{n} is not a prime number")

Enter n= 4

4 is not a prime number

# Multiplication table

In [3]:
n=int(input("Enter n="))
for i in range(1,11):
    print(n,"X",i,"=",n*i)

Enter n= 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

# sum all even number

In [16]:
n=int(input("Enter n="))
i=2
sum=0
while i<=n:
    sum +=i  
    i=i+2

print(sum)

Enter n= 5

6

# Reverse number

In [19]:
n=int(input("Enter number="))
reverseNumber=0
while n !=0:
    digit=n%10
    reverseNumber=reverseNumber*10+digit
    n //=10
print("reverse number=",reverseNumber)

Enter number= 72

reverse number= 27

# Palindrome

In [28]:
str=input("Enter string : ")  
revstr="" 
while i>len(str):
    revstr=revstr+i   
print("Reversed string : ", revstr) 
 
if(str==revstr): 
   print("The string is a palindrome.") 
else: 
   print("The string is not a palindrome.")

SyntaxError: invalid non-printable character U+202F (2443351740.py, line 4)